# Required to execute `pnpm install:all`
# We were getting an error when defining it as a flag, e.g `pnpm install:all --workspace-concurrency`
# Documented GitHub Issue `https://github.com/pnpm/pnpm/issues/3399`
workspace-concurrency=1

# If you don't want pnpm to fail on peer dependency issues, add
# "strict-peer-dependencies=false" to an .npmrc file at the root of your project.
strict-peer-dependencies=false
